
h1{
    font-size: 30px;
    color: white;
  }
  h2{
    font-size: 100px;
    margin-bottom: -5px;
    color: rgb(85, 242, 85);
  }
  h3{
      font-size: 30px;
  }
.welcome{
    margin-top: 10px;
    font-size: 100px;
    color: rgb(242, 0, 255);
    display: inline-block;
  }
  .mustdo{
    color: rgb(85, 242, 85);
    font-size: 40px;
    margin-bottom: -30px;
  }