body{
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
h2{
  text-align: -300;
}
.kayttajanLuonti{
  color: rgb(36, 255, 36);
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.signupbutton{
  width: 200px;
  margin-top: 5px;
  size: 100px;
  margin-left: 40px;
  margin-bottom: 25px;
  font-size: 18px;
  background-color: lightgreen;
  border-color: black;
  color: black;
  border-radius: 100px;
}
.name{
  margin-left: -133px;
  font-size: 20px;
}
.email{
  margin-left: -94px;
  font-size: 20px;
}
.password{
  margin-left: -75px;
  font-size: 20px;
}
.oliko{
  font-size: 20px;
  margin-bottom: -10px;
}