  .alapalkki {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    min-width: 50%;
    margin: 0px 300px 0px 300px;
    height: auto;
  }
  
  .ravintolannimi {
    padding: 50px;
    font-size: 250%;
    font-weight: bold;
    color: lightgreen;
  }
  
  .kuva {
    border-width: 10px;
    border-style: solid;
    border-color: rgb(32, 32, 32);
    padding: 200px;
    margin: 0px 500px;
    margin-bottom: 20px;
  }
  
  .menu {
    padding: 0px;
  }
  
  .slider{
    width: 10%;
  }
  
  .Tuote {
    width: 600px;
    height: 120px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    background-color: lightgreen;
    border: 5px solid rgb(32, 32, 32);
    color: black;
  }
  
  .Tuote:hover {
    background-color: rgb(188, 255, 188);
    border: 5px solid rgb(157, 255, 157);
  }
  
  .tuoteright {
    text-align: right;
    width: 450px;
  }
  
  .tuoteleft {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 0px;
    width: 150px;
  }
  
  .tuoteleft2 {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  
  .tuoteleft1 {
    width: 100px;
  }
  
  .button {
    background-color: lightgrey;
    border: none;
    color: black;
    font-weight: bolder;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgb(235, 111, 111);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button1 {
    border-radius: 12px;
    border: 2px solid black;
    font-weight: bolder;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }

  .button1:hover {
    background-color: rgb(235, 111, 111);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .button2 {
    border-radius: 12px;
    border: 2px solid black;
    font-weight: bolder;
    padding: 5px 15px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }

  .button2:hover {
    background-color: rgb(235, 111, 111);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .count {
    font-size: 25px;
    padding: 5px 10px;
  }
  
  .title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 7px;
  }

  .hinta {
    font-size: 150%;
    font-weight: bolder;
  }

  .kuvaus {
    height: 60px;
  }
  